{% extends 'body.html' %}
{% load static %}
{% block title %}DashBoard{% endblock %}
{% block link_scripts %}
<link rel="stylesheet" href="{%static 'slick/slick.grid.css'%}" type="text/css"/>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.threedubmedia/2.2/event.drag/jquery.event.drag.js'></script>
<script src="{%static 'slick/slick.core.js' %}"></script>
<script src="{%static 'slick/slick.formatters.js' %}"></script>
<script src="{%static 'slick/slick.grid.js' %}"></script>
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="ui grid">
<div class="three wide column fixed">
<div class="ui vertical compact menu inverted fixed" id="margin">
  <a class="teal item">
        <img class="ui circular image" src="/media/{{TeacherProfile.image}}" width='150' height='150' onerror="defaultI(this)">
  </a>
  <a class="teal item" href='/teacher/dashboard/profile/{{request.user.pk}}'>
    PROFILE
  </a>
  <a class="active teal item" href='/teacher/dashboard/analysis/{{request.user.pk}}'>
    Analysis
  </a>
  <a class="item" href='/teacher/dashboard/sheets'>
    Sheets
  </a>
  <div class="item">
    <div class="ui transparent icon input">
      <input type="text" placeholder="Search mail...">
      <i class="search icon"></i>
    </div>
  </div>
</div>
</div>
<div class="twelve wide column shad">
<div class="ui container segment shad">

{% block analysis %}
      <div id="myGrid" style="width:700px;height:500px;"></div>
{% endblock %}
</div>
</div>
</div>
{% else %}

{% endif %}

<script type="text/javascript" src="{% static 'js/teacher_a.js' %}">
</script>
<script type="text/javascript">
</script>
<script>
   // a standard formatter returns a string 
  function formatter(row, cell, value, columnDef, dataContext) {
      return value;
  }
  // an extended formatter returns an object { text , removeClasses, addClasses }
  // the classes are removed and then added during an update, or just added on cell creation
  function statusFormatter(row, cell, value, columnDef, dataContext) {
      var rtn = { text: value, removeClasses: 'red orange green' };
      if (value !== null || value !== "") {
        if (value < 33) {
          rtn.addClasses = "red";
        } else if (value < 66) {
          rtn.addClasses =  "orange";
        } else {
          rtn.addClasses =  "green";
        }
      }
      return rtn;
  }
  var grid;
  var data = [];
  var columns = [
    {id: "title", name: "Title", field: "title", width: 120, cssClass: "cell-title", formatter: formatter},
    {id: "duration", name: "Duration", field: "duration"},
    {id: "%", name: "% Complete", field: "percentComplete", width: 80, resizable: false, formatter: Slick.Formatters.PercentCompleteBar},
    {id: "status", name: "Status", field: "percentComplete", width: 50, resizable: false, formatter: statusFormatter},
    {id: "start", name: "Start", field: "start", minWidth: 60},
    {id: "finish", name: "Finish", field: "finish", minWidth: 60},
    {id: "effort-driven", name: "Effort Driven", sortable: false, width: 80, minWidth: 20, maxWidth: 80, cssClass: "cell-effort-driven", field: "effortDriven", formatter: Slick.Formatters.Checkmark}
  ];
  
  var options = {
    editable: false,
    enableAddRow: false,
    enableCellNavigation: true
  };
  $(function () {
    for (var i = 0; i < 5; i++) {
      var d = (data[i] = {});
      d["title"] = "<a href='#' tabindex='0'>Task</a> " + i;
      d["duration"] = "5 days";
      d["percentComplete"] = Math.min(100, Math.round(Math.random() * 110));
      d["start"] = "01/01/2009";
      d["finish"] = "01/05/2009";
      d["effortDriven"] = (i % 5 == 0);
    }
    grid = new Slick.Grid("#myGrid", data, columns, options);
  })
</script>
{% endblock %}