{% extends 'body.html' %}

{% block content %}

<div class="ui container">
<div class="ui center aligned container">
<h1 class="acme">Edit Form</h1>
</div>
<form action='' method='post'  enctype="multipart/form-data" novalidate>
{% csrf_token %}
{% for field in form %}
            <div class="ui grid"><div class="five wide column"></div><div class=" ui nine wide column js error">{{field.errors}}</div></div>
            <br><br>
            <div class="ui grid">
            <div class="indiv five wide column">{{field.label_tag}}</div><div class="ui input five wide column">{{field}}</div>
            </div>
            <div class="ui grid">
            <div class="pad5 indiv four wide column"></div><div class="pad5 ui input six wide column "><span class="HT">{{ field.help_text|safe }}</span></div>
            </div>
{% endfor %}
<div class="ui center aligned container">
<input class="ui button green inverted" type='submit' value='edit'>
</div>
</form>
</div>
{% endblock %}